body, html {
    height: 100%;
  }
  
  .parallax {
   
    background-image: url("miecz.jpg");
  
   
    height: 100%;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }
